

body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;

}
.container {
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.site-header{
    background-image: url("imgs/pets.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 20px 0;
    height: 200px;
    display: flex;
    align-items: flex-start;
    position: relative;
    
}
.site-header::before{
  content: "";
  position: absolute;
  inset: 0; 
  background: rgba(255, 255, 255, 0.3);

}

.header-inner {
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    position: relative;
    z-index: 2;

}

#logo {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.logo-img {
    width: 100px;
    height: 100px;
    margin-right: 10px;
}

.nav-links{
    list-style: none;
    display: flex;
    gap: 20px;
}
.nav-links a{
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

.nav-links a:hover{
    color: #8B4513;
}

#titles {
    text-align: center;

}
.header-center-text {
    position: absolute;
    top: 50%;          
    left: 50%;           
    transform: translate(-50%, -50%);
    text-align: center;
    color: black;
    z-index: 3;
    margin-top: 50px;
}

#semiTitle{
    background-color: #4A2F25;
    color: WHITE;
    text-align: center;
    padding: 20px ;
    font-size: 15px;
    width: 100%;
    margin: 0;      
}

#lightbox{
    background-color: lightgrey;
    text-align: center;
}

.topic-container{
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-top: 40px;
}
.topic-box{
    width: 260px;
    text-decoration: none;
    color: black;
    text-align: center;
}

.topic-box img {
    width: 100%;
    height: 180px;
    object-fit: cover;
    border-radius: 12px;
    transition: transfor 0.25 ease;
}

.topic-box p {
    margin-top: 10px;
    font-weight: bold;
    font-size: 18px;
}

.topic-box:hover img {
    transform: scale(1.05);
}
.topic-box:hover p {
    color: #8B4513;
}

.pets-Gallery {
    padding: 40px 0;
}

.pets-container {
    width: 90%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
}
.pet-card{
    width: 250px;
    background: white;
    padding: 15px;
    border-radius: 12px;
    text-align: center;
    
}
.pet-card img {
    width: 100%;
    height: 180px;
    object-fit: cover;
    border-radius: 12px;
}
.pet-card h3 {
    margin: 10px 0 5px;
    color: #4A2F25;
}
.pet-card p {
    color: #555;
}

.footer{
            margin-top: 40px;
            padding: 15px;
            background: #4CAF50;
            text-align: center;
            color: white;
    }